@using COMP2007_S2016_Assignment2.Models
@model FoodType

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: @Model.Name</h2>

<ul>
    @foreach (SubMenu submenu in Model.SubMenus)
    {
        <li>
            @Html.ActionLink(submenu.Title, "Details", new { id = submenu.SubMenuId })
        </li>
    }
</ul>